<%= simple_form_for @organization do |f| %>
  <div class="field">
    <%= f.input :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="field">
    <%= f.input :street1, label: "Street line 1" %>
  </div>

  <div class="field">
    <%= f.input :street2, label: "Street line 2" %>
  </div>

  <div class="field">
    <%= f.input :street3, label: "Street line 3" %>
  </div>

  <div class="field">
    <%= f.input :city %>
  </div>

  <div class="field">
    <%= f.input :state %>
  </div>

  <div class="field">
    <%= f.input :zipcode %>
  </div>

  <div class="field">
    <%= f.input :website_url, label: 'Website URL', placeholder: 'http://www.organization_name.org' %>
  </div>

  <div class="field">
    <%= f.input :charter_page_url, label: 'Charter Page URL', placeholder: 'http://www.charter_name.org' %>
  </div>

  <div class="field">
    <%= f.input :email, label: 'Email' %>
  </div>

  <div class="field">
    <%= f.label :organization_interests %><br />
    <%= f.collection_select "interest_ids", Interest.all, :id, :interest, {}, html_options = {multiple: true, class: "interests" } %>
  </div>

  <div class="field">
    <%= f.label :organization_skills %><br />
    <%= f.collection_select "skill_ids", Skill.all, :id, :skill, {}, html_options = {multiple: true, class: "skills" } %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
