<div class="org-form">
  <h2><%= @organization.name %></h2>
  <p><%= simple_format(@organization.description) %></p>
  <strong>Skills:</strong>
  <p><%= @organization.skills.map(&:skill).join(", ") %></p>
  <strong>Interests:</strong>
  <p><%= @organization.interests.map(&:interest).join(", ") %></p>
  <strong>Website:</strong>
  <p><%= link_to "#{@organization.name}", @organization.website_url if @organization.website_url %></p>
  <strong>Charter Page Website:</strong>
  <p><%= link_to "Charter Page", @organization.charter_page_url if @organization.charter_page_url %></p>

  <strong>Address</strong>
  <p>
    <%= @organization.street %> <br />
    <%= "#{@organization.city}, #{@organization.state} #{@organization.zipcode}" %>
  </p>

  <div class="members">
    <div>
      <strong>Members</strong>
      <ul>
        <% @organization.users.each do |user| %>
          <li>
            <%= user.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="add-member">
      <%= form_with url: add_member_organization_path, method: :put, data: { remote: false } do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.submit "Add Member" %>
      <% end %>
    </div>
  </div>
</div>
