<h2>Show Organization</h2>

<b>Name:</b>
<p><%= @organization.name %></p>

<b>Description:</b>
<p><%= @organization.description %></p>

<b>Address:</b>
<p>
  <%= @organization.address %>
  <%= @organization.city %>
  <%= @organization.state %>
  <%= @organization.zipcode %>
</p>

<b>Website URL:</b>
<p><%= @organization.website_url %></p>
