<!DOCTYPE html>
<html>
  <head>
    <title>CharterForCompassion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag :logo %>
      </div>

      <nav>
          <%= link_to "Organizations", organizations_path %>
        <% if !user_signed_in? %>
          <%= active_link_to "Sign Up", new_user_registration_path %>
          <%= active_link_to "Log in", new_user_session_path %>
        <% else %>
          <%= active_link_to "Sign Out", destroy_user_session_path, method: "DELETE" %>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
